
#intro{
    background-image: url("../assets/background/Background_Intro.svg");
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;


    main{
        margin-top: 120px;
        margin-bottom: 94px;
    }
    

    #tags{
        margin-top: 80px;
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    #tags span{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        background-color: var(--gray-300);
        border-radius: 999px;

        img{
            width: 24px;
            height: 24px;
        }
    }
    
}

#intro .container header{
    max-width: 680px;
    margin-inline: auto;

    &>img{
        margin-bottom: 56px;
    }

    h1{
        margin-block: 8px 20px;
    }
} 